@{
    Func<string, string> IsLinkActive = (controller) =>
    {
        var currentController = ViewContext.RouteData.Values["controller"]?.ToString();

        return controller == currentController ? "active" : "";
    };
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Game Gather</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css" />
</head>
<body>
    <header>
        <div class="d-flex justify-content-center bg-light border-bottom box-shadow">
            <h3 class="text-primary p-2">
                Game
                <span class="text-secondary">Gather</span>
            </h3>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-primary text-white border-bottom box-shadow mb-3  p-0">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav flex-grow-1 d-sm-inline-flex justify-content-center">
                        <li class="nav-item @IsLinkActive("Home")">
                            <a class="nav-link text-white" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown @IsLinkActive("BoardGameNight")">
                            <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Board game nights
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-controller="BoardGameNight" asp-action="Joining"><i class="fa-solid fa-user-plus"></i>  Joining</a></li>
                                <li><a class="dropdown-item" asp-controller="BoardGameNight" asp-action="Hosting"><i class="fa-solid fa-users"></i>  Hosting</a></li>
                            </ul>
                        </li>
                        <li class="nav-item @IsLinkActive("BoardGame")">
                            <a class="nav-link text-white" asp-controller="BoardGame" asp-action="Index">Board games</a>
                        </li>
                        <li class="nav-item dropdown @IsLinkActive("Review")">
                            <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Reviews
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-controller="Review" asp-action="Overview"><i class="fa-regular fa-star"></i>  Received reviews</a></li>
                                <li><a class="dropdown-item" asp-controller="Review" asp-action="UnreviewedBGN"><i class="fa-solid fa-pencil"></i>  Write review</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown @IsLinkActive("Account")">
                            <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                My account
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" asp-controller="Account" asp-action="Profile"><i class="fa-regular fa-user"></i>  Profile</a></li>
                                <li><a class="dropdown-item" asp-controller="Account" asp-action="Preferences"><i class="fa-solid fa-sliders"></i>  Preferences</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" asp-controller="Account" asp-action="Logout"><i class="fa-solid fa-arrow-right-from-bracket"></i>  Sign out</a></li>
                            </ul>
                        </li>
                    </ul>


                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
</body>
</html>
<script>
    $(document).ready(function () {
        // Initialize tooltips
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
