@model IEnumerable<BoardGameNightViewModel>
@{
    ViewData["Title"] = "All hosting board game nights";
}

<div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="row my-4">
            <div class="col-sm-10">
                <h4 class="secondary">All of your previous game nights as host</h4>
            </div>
            <div class="col-sm-2 d-flex justify-content-end">
                <a class="btn btn-secondary d-flex align-items-center px-3 py-2" asp-controller="BoardGameNight" asp-action="Hosting"><i class="fa-solid fa-arrow-left"></i> <span class="ms-2">Go back</span></a>
            </div>
        </div>
        @if (Model.Count() > 0)
        {

            @for (int i = 0; i < Model.Count(); i += 3)
            {
                <div class="row">
                    @foreach (BoardGameNightViewModel bgn in Model.Skip(i).Take(3))
                    {
                        <div class="col-md-4">
                            <div class="card mb-3">
                                <b class="card-header">
                                    @bgn.DateTime.ToString("dddd, dd MMMM yyyy HH:mm")
                                </b>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Attendees: @(bgn.Attendees?.Count() ?? 0) / @bgn.MaxAttendees</li>
                                    <li class="list-group-item">Board games: @(bgn.BoardGames?.Count() ?? 0)</li>
                                    <li class="list-group-item">City: @bgn.City</li>
                                    <li class="list-group-item">Address: @bgn.Address</li>
                                </ul>
                                <div class="card-footer">
                                    <a class="btn btn-primary px-3" asp-controller="BoardGameNight" asp-action="Details" asp-route-boardGameNightId="@bgn.Id">Details</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        } else
        {
            <h4 class="secondary lead"><em>You have not hosted any board game night yet <i class="fa-regular fa-face-frown"></i></em></h4>
        }
    </div>
</div>
