@model IEnumerable<BoardGameNightViewModel>
@{
    ViewData["Title"] = "Choose a board game night to review";
}

<div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="row my-4">
            <div class="col-sm-10">
                <h4 class="secondary">Choose a board game night to review</h4>
            </div>
        </div>
        @if (Model.Count() > 0)
        {
            @for (int i = 0; i < Model.Count(); i += 3)
            {
                <div class="row">
                    @foreach (BoardGameNightViewModel bgn in Model.Skip(i).Take(3))
                    {
                        <div class="col-md-4">
                            <div class="card mb-3">
                                <b class="card-header">
                                    @bgn.DateTime.ToString("dddd, dd MMMM yyyy HH:mm")
                                </b>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Host: @(bgn.Host?.FirstName) @(bgn.Host?.LastName)</li>
                                    <li class="list-group-item">Board games: @(bgn.BoardGames?.Count() ?? 0)</li>
                                    <li class="list-group-item">City: @bgn.City</li>
                                    <li class="list-group-item">Address: @bgn.Address</li>
                                </ul>
                                <div class="card-footer">
                                    <a class="btn btn-primary px-3" asp-controller="Review" asp-action="Write" asp-route-boardGameNightId="@bgn.Id">Write review</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        } else
        {
            <h4 class="secondary lead"><em>You have no board game nights to review... </em></h4>
        }
    </div>
</div>
